.carrouselContent {
  margin: 0 auto 3rem auto;
  padding: 0 1.7rem;
  max-width: var(--max-width-content);
}

.ball:focus {
  outline: none;
}

.ball > div {
  background: var(--bg-primary-yellow);
  display: flex;
  width: 10rem;
  height: 10rem;
  margin: auto;
  align-items: center;
  border-radius: 100%;
  transition: 0.2s;
  cursor: pointer;
}

.ball > div:hover {
  filter: brightness(0.9);
}

.ball > div > h3 {
  font-size: 1.2rem;
  margin: auto;
}

@media (max-width: 768px) {
  .ball > div {
    width: 9rem;
    height: 9rem;
  }
}

@media (max-width: 576px) {
  .carrouselContent {
    padding: 0 3rem;
  }

  .ball > div {
    width: 7rem;
    height: 7rem;
  }

  .ball > div > h3 {
    font-size: 1rem;
  }
}
