.headerContainer {
  background-color: var(--bg-primary-yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.headerContainer > img {
  width: 12rem;
  margin-bottom: 30px;
  cursor: pointer;
}

.headerContainer > h1 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.headerContainer > h2 {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.headerContainer > form input {
  width: 25rem;
  margin: 0 1rem;
  padding-left: 2.5rem;
  padding-right: 0.75rem;
}

.headerContainer > form button {
  background-color: var(--bg-primary-dark);
  border: 1px solid var(--bg-primary-dark);
  color: white;
  padding: 5px 40px;
}

.headerContainer > form button:hover {
  transition: 0.2s;
  filter: brightness(0.9);
}

@media (max-width: 768px) {
  .headerContainer > h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .headerContainer > h2 {
    font-size: 1rem;
  }

  .headerContainer {
    text-align: center;
    padding: 3rem 2rem;
  }

  .headerContainer span {
    display: none;
  }

  .headerContainer > form input {
    padding-left: 0.75rem;
    margin-bottom: 1rem;
  }

  @media (max-width: 576px) {
    .headerContainer > form input {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
