.initialMessageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: var(--max-width-content);
  margin: 3rem auto;
}

.initialMessageContainer > div {
  margin: 0 1.3rem;
}

.initialMessageContainer > div > svg {
  width: 25rem;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.description {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.description > h1 {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .initialMessageContainer {
    display: flex;
    flex-direction: column;
  }

  .initialMessageContainer > div > svg {
    max-width: 80%;
    margin-bottom: 2rem;
  }

  .description > h1 {
    font-size: 1.3rem;
  }

  .description > p {
    text-align: justify;
  }
}
