.loginContainer {
  max-width: var(--max-width-content);
  margin: auto;
  padding: 3rem 0;
}

.loginContainer > h1 {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  text-align: center;
}

.loginContainer > div {
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
}

.loginContainer > div > div:last-child {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}

.loginContainer > div > div:last-child > form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.loginContainer > div > div:last-child > form > div:last-child {
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.loginContainer > div > div:last-child > form > div {
  display: flex;
  flex-direction: column;
}

.loginContainer > div > div:last-child > form > div > input {
  width: 100%;
  background-color: #fcfcfc;
  border-bottom: 2px solid #e0e0e0;
  margin: 1rem 0;
}

.loginContainer > div > div:last-child > form > div > input:focus {
  outline-color: #eee;
}

.loginContainer svg {
  width: 20rem;
  height: auto;
}

.loginContainer > div > div {
  margin: auto;
}

.loginContainer > div > div > h1 {
  text-align: center;
  margin: 1.5rem 0;
}

.registerButton,
.loginButton {
  background-color: var(--bg-primary-yellow);
  padding: 0.6rem 0;
  width: 20rem;
  text-align: center;
  transition: 0.2s;
}

.loginButtonGoogle {
  padding: 0.6rem 0;
  text-align: center;
  width: 20rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.loginButtonGoogle img {
  height: 1rem;
  width: auto;
  display: inline-block;
  margin-right: 1rem;
}

.registerButton:hover,
.loginButton:hover {
  filter: brightness(0.9);
}

.loginButtonGoogle:hover {
  background-color: #f3f3f3;
}

.line {
  border-left: 1px solid black;
  height: 100%;
}

@media (max-width: 992px) {
  .loginContainer > div {
    grid-template-columns: 10fr 1fr 10fr;
  }
}

@media (max-width: 768px) {
  .loginContainer > div {
    display: flex;
    flex-direction: column-reverse;
  }

  .loginContainer > div > div {
    padding: initial 1rem;
    width: 100%;
  }

  .registerButton,
  .loginButton,
  .loginButtonGoogle {
    margin-top: 1rem;
    max-width: 100%;
  }

  .loginContainer svg {
    width: 15rem;
    max-width: 90%;
    height: auto;
    margin: auto;
    margin-top: 2rem;
  }

  .loginContainer > div > div:last-child {
    width: 100%;
    padding: initial 1rem;
  }

  .loginContainer > h1 {
    margin-bottom: 1rem;
  }

  .loginButtonGoogle {
    order: 1;
  }

  .loginButton {
    margin-top: 3rem;
  }

  .loginContainer > div > div:last-child > form > div:last-child {
    margin-bottom: 2rem;
  }

  .loginContainer > div > div:last-child > form > div > input {
    padding: 0.3rem;
  }
}
