* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

:root {
  --max-width-content: 1280px;
  --bg-primary-yellow: #f2c215;
  --color-primary-yellow: #dbac00;
  --bg-primary-dark: #262626;
}

.dark-mode .dark\:invert-0 {
  filter: invert(0) !important;
}

.dark-mode .dark\:invert-1 {
  filter: invert(1) !important;
}
