@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode-transition * {
  @apply transition duration-500 ease-in-out;
}

body {
  @apply bg-white;
  @apply text-black;
  @apply font-body;
}

body.dark-mode {
  @apply text-gray-300;

  background-color: #131313;
}
